{% extends 'components/navbar.html' %}

{% load static %}

{% block content %}
<h1 style="text-align: center;">
    Books
</h1>

<form action="/posts/" method="get">
     {{ search_form.as_p }}
     <button type="submit" class="btn btn-primary">Search</button>
 </form>

<div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
    {% for book in books %}
    <div class="card" style="width: 18rem;">
        {% if post.image %}
            <img src="/media/{{ book.image }}" class="card-img-top" alt="...">
        {% else %}
            <img src="{% static 'default.png' %}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">{{ post.text }}</p>
        <h6>{{ post.author }}</h6>
        </div>

        <div class="card-body">
        <a href="/books/{{ book.id }}" class="card-link">Show more..</a>
        </div>
        {% endfor %}
    </div>

<!-- Paggination -->
<div style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px;">
     {% for i in max_pages %}
         <a href="/posts/?page={{ i }}" class="btn btn-primary">
             {{ i }}
         </a>

    {% endfor %}
</div>
{% endblock %}
